---
import NavBar from '../components/NavBar.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/prism-styles.css" />
		<link rel="stylesheet" href="https://use.typekit.net/iom0qcu.css">
		<meta name="generator" content={Astro.generator} />
		<title>Nicole Orchard</title>
		<script is:inline>
			document.addEventListener('DOMContentLoaded', (event) => {
				const darkMode = sessionStorage.getItem('darkmode') || 'true';
				console.log('darkMode', darkMode);
				if (darkMode === 'true') {
					const planets = document.querySelectorAll('#moon,#sun,#night')
					planets.forEach(el => el.style.transition =  'none');
					document.body.classList.toggle('dark');
					setTimeout(() => { 
						planets.forEach(el => { 
							el.style.transition =  el.id == 'night' ? 'all 0s linear' : 'all 0.5s ease-in-out'
						}) 
					}, 500);
				}
				// document.body.style.transition = 'all 0.3s ease-in-out';
			})
		</script>
	</head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-DT7KG99G4T"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-DT7KG99G4T');
	</script>
	<body>
		<NavBar />
		<!-- <div id="dot"></div>
		<div id="rainbow"><div></div></div> -->
		<slot />
	</body>
</html>

<style is:global>
	/* @font-face {
		font-family: 'Canela';
		src: url('/fonts/Canela-Medium-Trial.oft') format('oft');
		font-weight: 500;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Canela';
		src: url('/fonts/Canela-MediumItalic-Trial.oft') format('oft');
		font-weight: 500;
		font-style: italic;
		font-display: swap;
	} */

	/* @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

	:root {
		--bg: #ede6e6;
		--text: #2A2C34;
		--accent: #dc4644;
		--accent-tint: color-mix(in srgb, black 20%, var(--accent));
		--module-border: #ececec;
		--module-shadow: hsl(0, 0%, 84%);
		--gray: #8e919f;
		--hut: #d5c8c8;
	}

	#dot {
		width: 14px;
		height: 8px;
		border-radius: 8px;
		background-color: #2A2C34; 
		opacity: .5px;
		position: fixed;
		bottom: 1px;
		left: 2px;
		z-index: 101;
	}

	#rainbow {
        width: 100vw;
        height: 11px;
		position: fixed;
		bottom: 0px;
		z-index: 100;
    }

	#rainbow > div {
		background-image: linear-gradient(0.25turn, #e38170, #cfc956, #5ba67e, #3b72b9, #6a24af, #f31977);
		position: relative;
		height: 100%;
		width: 100%;
	}

	p {
		font-size: 18px;
	}

	body.dark {
		--bg: #2A2C34;
		--text: #f1f1f1;
		--accent-tint: color-mix(in srgb, rgb(212, 212, 212) 50%, var(--accent));
		--module-border: #282a36;
		--module-shadow: hsl(0, 0%, 4%);
		--gray: #74767e;
		--hut: #070707;
	}

	.grid-container {
        display: grid;
        align-items: center;
        /* vertical-align: text-bottom; */
        /* align-content: space-around; */
        grid-template-columns: repeat(12, 1fr);
        gap: 5em;
		max-width: 100%;
    }
	.col-1 {
        grid-column: span 1;
    }
	.col-2 {
        grid-column: span 2;
    }
    .col-3 {
        grid-column: span 3;
    }
	.col-4 {
        grid-column: span 4;
    }
	.col-5 {
        grid-column: span 5;
    }
    .col-6 {
        grid-column: span 6;
    }
    .col-9 {
        grid-column: span 9;
    }
	.col-10 {
        grid-column: span 10;
    }

	body {
		background-color: var(--bg);
		color: var(--text);
		font-family: polymath, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		margin: 0px;
		padding: 0px 10px;
	}

	/* h1, h2, h3, h4, h5, h6, p, a {
		font-weight: 400;
	} */

	div > h4 {
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: .3em;
		color: var(--gray);
		margin-left: 30px;
	}

	a {
		color: inherit;
		text-decoration: none;
	}
	
	.container {
		max-width: 1000px;
		margin: 0px auto;
		padding-top: 35px;
	}

	.module {
		max-width: 1000px !important;
		box-sizing: border-box;
		width: 100%;
		border-radius: 15px;
		background-image: linear-gradient(color-mix(in srgb, black 4%, var(--bg)), color-mix(in srgb, black 7%, var(--bg)));
		border: 2px solid var(--module-border);
		box-shadow: 0px 0px 10px var(--module-shadow);
	}

	code {
		font-family: 'Google Sans Code', monospace;
		font-weight: 500;
	}

	code span {
		font-weight: 400;
	}

	.dark .module {
		/* filter: brightness(60%); */
		background-image: linear-gradient(color-mix(in srgb, black 50%, var(--bg)), color-mix(in srgb, black 60%, var(--bg)));

		/* background-color: color-mix(in srgb, black 50%, var(--bg)); */
		box-shadow: 0px 0px 10px var(--module-shadow);
		border: 2px solid var(--module-border);
	}

	.astro-code {
		padding: 20px;
	}

	.dark .astro-code,
	.dark .astro-code span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
		/* Optional, if you also want font styles */
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}

	.dark #sun {
        border: solid 3px var(--accent);
    }

    .dark #moon {
        border: solid calc(var(--tattoo-size)/2) #ffffff;
    }

    .dark #night {
        transition-delay: 0.2s;
        transform: scale(1);
    }
	
	::selection {
		background-color: #d4d8de;
		color: #27a12d;
	}

	/* For compatibility with older Firefox versions */
	::-moz-selection {
		background-color: #d4d8de;
		color: #efd3b7;
	}

	.dark ::selection {
		background-color: #93a5bb;
		color: #046509;
	}

	/* For compatibility with older Firefox versions */
	.dark ::-moz-selection {
		background-color: #93a5bb;
		color: #046509;
	}

	.blog-post a {
        color: inherit;
        position: relative;
        text-decoration: underline;
		text-underline-offset: 0.4em;
    }

	@media (hover: hover) {
		.blog-post a:hover {
            color: var(--accent);
        }
	}

	.blog-post img {
        max-width: 100% !important;
        height: auto !important;
        display: block;
    }

	.dark .blog-post.post-compilers img {
        filter: invert(1.2);
        opacity: .7;
    }

    @media (max-width: 700px) {
		.dark #night {
			margin-right: -20px;
			margin-top: -20px;
		}

		.blog-post h1 {
			font-size: 42px !important;
			line-height: 48px;
		}

		h3 {
			font-size: 24px !important;
			font-weight: 700;
		}

		h5 {
			font-size: 14px !important;
			padding-bottom: 15px;
		}

		div > h4 {
			margin-left: 10px;
		}
	}
</style>

<script>
	const height = document.body.scrollHeight + (document.body.clientWidth / 2);
	const rainbow = document.querySelector('#rainbow > div') as HTMLElement;
	const dot = document.getElementById('dot') as HTMLElement;
	rainbow.style.width = `${height}px`;
	console.log(height);
	window.addEventListener('scroll', () => {
		const scrollPosition = window.scrollY / (document.body.scrollHeight - window.innerHeight);

		// Clamp the value between 0 and 1 to prevent issues at the very top/bottom
		const clampedScroll = Math.min(Math.max(scrollPosition, 0), 1);

		// Map the clamped value to RGB color components
		// Start: rgb(255, 100, 0) -> End: rgb(0, 200, 255)
		// const r = 255 - clampedScroll * 255;
		// const g = 100 + clampedScroll * 100; // From 100 to 200
		// const b = clampedScroll * 255;

		// Set the CSS variable
		// document.documentElement.style.setProperty("--accent", `rgb(${r}, ${g}, ${b})`);

		const scrollDistance = window.scrollY;
		console.log('Scrolled distance:', scrollDistance, 'px');
		rainbow.style.left = `-${ scrollDistance }px`;
		dot!.style.left = `${clampedScroll * (document.body.clientWidth - 14)}px`;
	});
</script>
